body {
    background: #56b5db;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

/* Conejo */
.rabbit {
    width: 5em;
    height: 3em;
    background: #ffffff;
    border-radius: 70% 90% 60% 50%;
    position: relative;
    box-shadow: -0.2em 1em 0 -0.75em #b78e81;
    transform: rotate(0deg) translate(-2em, 0);
    animation: hop 1s infinite linear;
    z-index: 1;
  }

/* Cola, ojo, patas */
.rabbit::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 100%;
    top: 0.5em;
    left: -0.3em;
    box-shadow:
        4em 0.4em 0 -0.35em #3f3334, /* Ojo */
        0.5em 1em 0 white, /* Pata trasera */
        4em 1em 0 -0.3em white, /* Pata delantera */
        4em 1em 0 -0.3em white,
        4em 1em 0 -0.4em white;
    animation: kick 1s infinite linear;
  }

/* Orejas */
.rabbit::after {
    content: "";
    position: absolute;
    width: .75em;
    height: 2em;
    background: white;
    border-radius: 50% 100% 0 0;
    transform: rotate(-30deg);
    right: 1em;
    top: -1em;
    border-top: 1px solid #f7f5f4;
    border-left: 1px solid #f7f5f4;
    box-shadow: -0.5em 0em 0 -0.1em white;
  }